<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sm.dao.CityMapper">
	<resultMap id="BaseResultMap" type="com.sm.domain.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
	</resultMap>

	<parameterMap id="City" type="com.sm.domain.City"/>

	<sql id="Base_Column_List">
		id, province_code, city_name, description,code
	</sql>
	<sql id="Province_Column_List">
		id,province_name,country_id,code,description
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from city
		where id = #{id}
	</select>

	<select id="getAllByTotal" resultType="java.lang.Long" >
		select count(1) from city
	</select>
	
	<select id="findAllCity" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from city
	</select>

	<insert id="saveCity" parameterMap="City" useGeneratedKeys="true" keyProperty="id">
		insert into
		city(id,province_id,city_name,description)
		values
		(#{id},#{provinceId},#{cityName},#{description})
	</insert>

	<update id="updateCity" parameterMap="City">
		update
		city
		set
		<if test="provinceId!=null">
			province_id = #{provinceId},
		</if>
		<if test="cityName!=null">
			city_name = #{cityName},
		</if>
		<if test="description!=null">
			description = #{description}
		</if>
		where
		id = #{id}
	</update>

	<delete id="deleteCity" parameterType="java.lang.Long">
		delete from
		city
		where
		id = #{id}
	</delete>
<!--	<select id="queryCityAndProvinceByMap" resultMap="java.util.HashMap" parameterType="java.util.Map">
		select
			<include refid="Province_Column_List"/>,
			<include refid="Base_Column_List"/>
		from city c
		left join province p on c.province_code = p.code
		<where>
			c.code in
			<foreach collection="codeList.code" item="codeList" separator="," open="(" close= ")">
				#{codeList}
			</foreach>
		</where>

	</select>-->
	<select id="queryCityAndProvinceByMap" resultType="Map">
		select
		*
		from city c
		left join province p on c.province_code = p.code

	</select>

</mapper>
